@font-face {
	font-family: 'Light';
	src: url('assets/fonts/light-f591b13f7d-v2.woff');
}

@font-face {
	font-family: 'Bold';
	src: url('assets/fonts/bold-affa96571d-v2.woff');
}

body {
	font-family: 'Light', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

